@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Special Gothic", cursive;
}

body {
  background-image: url("https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_52683-66443.jpg?t=st=1729308302~exp=1729311902~hmac=261db1998c7f8b6920ad6c209ca910cc7750c0836fdaa40796f3dee1cca4b267&w=1380");
  min-height: 100vh;
}

.container {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);

  display: flex;
  flex-direction: column;
}

.notFound {
  margin: 50px;

  & h1 {
    font-size: 60px;
  }

  & p {
    margin-top: 15px;
    font-size: 40px;
  }
}

main {
  flex-grow: 1;
  border: 1px solid black;
}

/* .active {
  text-shadow: 5px 5px 15px black;
} */
